<body>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
      
  

           
    
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Ajouter Ville</h4>
            </div>
        
        </div>
        
    </div>

  
  
  
  
        <div class="row">
   
    
     
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #addVilleForm="ngForm" (ngSubmit)="add(ville)">
                            <div class="form-group" >
                              <label class="form-label">Nom de ville</label>
                              <input type="text" class="form-control" placeholder="nom  *" [(ngModel)]="ville.nom" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button1">ENREGIRTRER</button>
                              
                              </div>      
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  
 
        

    
</body>

 



