
<!----
<body>

  

    
    -
<section class=" padding u-clearfix u-image u-section-1 container " id="sec-d1a8" data-image-width="1600" data-image-height="840">

    <br><br><br>
    <div class="container">
        <div class="section-header text-center">
            <h2>se connecter</h2>
        </div>
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-white u-group-1 " >
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          
            
          <div class="contact-form ">

          <div class="u-expanded-width u-form u-login-control u-form-1">

            <form #loginForm="ngForm" (ngSubmit)="formSubmit()">
                <span *ngIf="name.invalid && name.touched" style="color: red;">Invalid Username</span>
                  <label>User Name</label>
                  <input required [(ngModel)]="credentials.username" minlength="2" pattern="[a-zA-Z0-9#$@^]+$" name="username" #name="ngModel"  matInput placeholder="Enter Username">
      
      <br>
                <span *ngIf="password.invalid && password.touched" style="color: red;">Invalid Password</span>
                  <label>Password</label>
                  <input required [(ngModel)]="credentials.password" pattern="[a-zA-Z0-9$@^&*!#^]+$" minlength="4" name="password" #password="ngModel" type="password" matInput placeholder="Enter Password">
      
                <div class="container text-center">
                  <button type="submit" [disabled]="loginForm.invalid"  mat-raised-button color="primary">Login</button>
                  <button type="reset" style="margin-left:20px;" mat-raised-button color="accent">Reset</button>
                </div>
      
              </form>


          </div>
          </div>
            </div>


          <a href="" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-1-base u-btn-2">Forgot password?</a>
        </div>
      </div>
    </div>
    

  </section>
  <section class="u-clearfix u-section-2" id="sec-ec7c">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>

</body>
-->

<head>
    <meta charset="UTF-8">
    <title>HTML5 Login Form with validation Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
  </head>




  <body>
    <br>    <br>
    <br>
    <br>
    <br>
    <br>





  <!-- partial:index.partial.html -->
  <div id="login-form-wrap">
    <img src="assets/plugins/images/logo2.png"  width="300" height="100" alt="Logo">
    <h2></h2>
    <br>
    



    <form #loginForm="ngForm" (ngSubmit)="formSubmit()" id="login-form">
      <p>
        <span *ngIf="name.invalid && name.touched" style="color: red;">Invalid Username</span>

      <input required [(ngModel)]="credentials.username" minlength="2" pattern="[a-zA-Z0-9#$@^]+$" name="username" #name="ngModel"  matInput placeholder="Enter Username"    required><i class="validation"><span></span><span></span></i>
      </p>

      <p>
                <span *ngIf="password.invalid && password.touched" style="color: red;">Invalid Password</span>

      <input required [(ngModel)]="credentials.password" pattern="[a-zA-Z0-9$@^&*!#^]+$" minlength="4" name="password" #password="ngModel" type="password" matInput placeholder="Enter Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>

      <input type="submit" [disabled]="loginForm.invalid"  mat-raised-button color="red">
      </p>
    </form>
    <div id="create-account-wrap">
      <p>Not a member? <a href="#">Create Account</a><p>
    </div><!--create-account-wrap-->
  </div><!--login-form-wrap-->
  <!-- partial -->
    
  </body>
  
  







