
<nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
    <br> 
    <br> 
  </nav>

<body>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
      
        
               
                
            
                
            
      
        <aside class="left-sidebar" data-sidebarbg="skin6">

            <div class="top-bar">
                    <div>
                        <div >
                            <div class="col-lg-4 col-md-12">
                                <div >
                                    <a routerLink="" routerLinkActive="active">
                                        
                                        <img src="assets/plugins/images/logo2.png" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
     
            <div class="scroll-sidebar">
          
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                     
                        <br>
                        <br>
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard" routerLinkActive="active"
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Tableau de bord</span>
                            </a>
                        </li>

                        <!--
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"  routerLink="/profile" routerLinkActive="active"
                                aria-expanded="false">
                                <i class=" fas fa-user-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        -->





                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"  routerLink="/clients" routerLinkActive="active"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Gérer Client</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/vehicules" routerLinkActive="active"
                                aria-expanded="false">
                                <i class=" fas fa-car" aria-hidden="true"></i>
                                <span class="hide-menu">Gérer Véhicule</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"  routerLink="/Reservations" routerLinkActive="active"
                                aria-expanded="false">
                                <i class="fas fa-history" aria-hidden="true"></i>
                                <span class="hide-menu">Réservation</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/Seances" routerLinkActive="active"
                                aria-expanded="false">
                                <i class=" fas fa-car" aria-hidden="true"></i>
                                <span class="hide-menu">Work hours</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/Locales" routerLinkActive="active"
                                aria-expanded="false">
                                <i class=" fas fa-car" aria-hidden="true"></i>
                                <span class="hide-menu">Gérer Locale</span>
                            </a>
                        </li>



                        <li class="sidebar-item">
                            <a *ngIf="loggedIn" class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="http://localhost:4000/" (click)="logoutUser()"  routerLinkActive="active"
                                aria-expanded="false">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                <span class="hide-menu">Deconnexion</span>
                            </a>
                        </li>


                        
                    </ul>

                </nav>
                
            </div>
       
        </aside>
        
        <div class="page-wrapper">
    
      
            <div class="container-fluid">
               
                <router-outlet></router-outlet>
            </div>
          
           
        </div>
  
    </div>

    
</body>
