<div class="page-wrapper">
    
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Ajouter Locale</h4>
            </div>
        
        </div>
        
    </div>

  
  
  
  
        <div class="row">
   
    
     
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form >
                           
                            <div class="form-group">
                              <label for="name">Nom </label>
                              <input type="text" class="form-control" placeholder="nom Locale*" [(ngModel)]="locale.nom" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="form-group">
                                <label>Ville</label>
                        
                                <select type="text"class="form-control  " id="id" name="id"placeholder="Ville *"  [(ngModel)]="locale.ville" [ngModelOptions]="{standalone:true}">        
                                    <option *ngFor="let s of ville" [ngValue]="s" >   
                                          {{s.nom}}
                                    </option>
                                </select>   
                            </div>
                            <div class="form-group">
                              <label for="name">Adresse</label>
                              <input type="text" class="form-control" placeholder="adresse *" [(ngModel)]="locale.adresse" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="form-group">
                                <label for="name">Tel</label>
                                <input type="text" class="form-control" placeholder="tel *" [(ngModel)]="locale.telephone" [ngModelOptions]="{standalone:true}">
                              </div>
                              <div class="form-group">
                                <label for="name">nombre guichet</label>
                                <input type="text" class="form-control" placeholder="nombre *" [(ngModel)]="locale.nbguichet" [ngModelOptions]="{standalone:true}">
                              </div>
                             
                            <div class="text-center">
                                <button type="submit" (click)="add(locale)"class="button1 btn-sm" >ENREGIRTRER</button>
                              
                              </div>      
                            
                        </form>
                    </div>
                </div>
            </div>
           
        </div>

    </div>



