<body>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  
   

       
        
   
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Profile</h4>
            </div>
           
        </div>

    </div>
    <br> 
    

           
         
            <div class="container-fluid">
          
                <div class="row">
           
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="assets/plugins/images/large/img1.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="assets/plugins/images/users/genu.jpg"
                                                class="thumb-lg img-circle" alt="img"></a>
                                      
                                    </div>
                                </div>
                            </div>
                            
                       
                        </div>
                    </div>
             
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Nom</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="Johnathan Doe"
                                                class="form-control p-0 border-0"> </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="example-email" class="col-md-12 p-0">Email</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="email" placeholder="johnathan@admin.com"
                                                class="form-control p-0 border-0" name="example-email"
                                                id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Mot de passe</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="password" value="password"  class="form-control p-0 border-0">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Téléphone</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="25741369"
                                                class="form-control p-0 border-0">
                                        </div>
                                    </div>
                                
                                 
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="button1">Modifier profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                   
                </div>
       
            
      
        
        </div>
      
    </div>

</body>

